{
    "protectorate" : {
      "events" : [ "apexraiders", "avianraiders", "floranraiders", "calm", "calm", "calm", "calm" ]
    },
    "apexminiknog" : {
      "species" : "apex",
      "events" : [ "avianraiders", "floranraiders", "calm" ]
    },
    "apexrebels" : {
      "species" : "apex",
      "events" : [ "avianraiders", "floranraiders", "calm" ]
    },
    "aviangrounded" : {
      "species" : "avian",
      "events" : [ "apexraiders", "avianraiders", "floranraiders", "calm" ]
    },
    "avianstargazers" : {
      "species" : "avian",
      "events" : [ "apexraiders", "avianraiders", "floranraiders", "calm" ]
    },
    "floran" : {
      "species" : "floran",
      "events" : [ "apexraiders", "avianraiders", "calm" ]
    },
    "glitch" : {
      "species" : "glitch",
      "events" : [ "apexraiders", "avianraiders", "floranraiders", "calm" ]
    },
    "hylotl" : {
      "species" : "hylotl",
      "events" : [ "apexraiders", "avianraiders", "floranraiders", "calm" ]
    },
    "human" : {
      "species" : "human",
      "events" : [ "apexraiders", "avianraiders", "floranraiders", "calm" ]
    },
    "humanuscm" : {
      "species" : "human",
      "events" : [ "apexraiders", "avianraiders", "floranraiders", "calm" ]
    },
    "novakid" : {
      "species" : "novakid",
      "events" : [ "apexraiders", "avianraiders", "floranraiders", "calm" ]
    },
    "penguinoutlaws" : {
      "species" : "penguin",
      "events" : [ "apexraiders", "avianraiders", "floranraiders", "calm" ]
    },
    "protectoratewreck" : {
      "events" : [ "apexraiders", "avianraiders", "floranraiders", "calm" ]
    }
}