{
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/modsmenu/header.png",
      "fileBody" : "/interface/modsmenu/body.png",
      "fileFooter" : "/interface/modsmenu/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [321, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Guard Station",
      "subtitle" : " ^#b9b5b2;Guards assigned to this station ^green;[C]",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/inventory/shield.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [-15, 0],
      "zlevel" : -10
    }
  }
}
