{
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/modsmenu/header.png",
      "fileBody" : "/interface/modsmenu/body.png",
      "fileFooter" : "/interface/modsmenu/footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/optionsmenu/x.png",
      "hover" : "/interface/optionsmenu/xhover.png",
      "press" : "/interface/optionsmenu/xpress.png",
      "position" : [321, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Guard Post",
      "subtitle" : " ^#b9b5b2;Guards assigned to this post ^green;[C]",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/inventory/shield.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "btnAssign" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [271, 43],
      "caption" : "Assign",
      "callback" : "assignGuard"
    },
    "btnRecall" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [271, 43],
      "caption" : "Recall",
      "callback" : "hireGuard"
    }
  },
  "scriptWidgetCallbacks" : [ "hireGuard", "assignGuard" ],
  "scripts" : ["/objects/m4_stations/stationnpcrespawner/guardstation.lua"],
  "scriptDelta" : 1
}
