{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/interface/chests/chestbody.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [10, 2],
      "dimensions" : [1, 10],
      "spacing" : [24, 24],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "8 SLOTS TO SELL ITEMS",
      "hAnchor" : "mid",
      "position" : [80, 240]
    },
	"sellprice0" : {
      "type" : "textbox",
      "position" : [40, 224],
      "hint" : "00",
      "maxWidth" : 90,
      "callback" : "null",
      "focus" : false
    },
	"sellprice1" : {
      "type" : "textbox",
      "position" : [40, 200],
      "hint" : "00",
      "maxWidth" : 90,
      "callback" : "null",
      "focus" : false
    },
	"sellprice2" : {
      "type" : "textbox",
      "position" : [40, 176],
      "hint" : "00",
      "maxWidth" : 90,
      "callback" : "null",
      "focus" : false
    },
	"sellprice3" : {
      "type" : "textbox",
      "position" : [40, 152],
      "hint" : "00",
      "maxWidth" : 90,
      "callback" : "null",
      "focus" : false
    },
	"sellprice4" : {
      "type" : "textbox",
      "position" : [40, 128],
      "hint" : "00",
      "maxWidth" : 90,
      "callback" : "null",
      "focus" : false
    },
	"sellprice5" : {
      "type" : "textbox",
      "position" : [40, 104],
      "hint" : "00",
      "maxWidth" : 90,
      "callback" : "null",
      "focus" : false
    },
	"sellprice6" : {
      "type" : "textbox",
      "position" : [40, 80],
      "hint" : "00",
      "maxWidth" : 90,
      "callback" : "null",
      "focus" : false
    },
	"sellprice7" : {
      "type" : "textbox",
      "position" : [40, 56],
      "hint" : "00",
      "maxWidth" : 90,
      "callback" : "null",
      "focus" : false
    },
    "pixel1" : {
      "type" : "label",
      "value" : "pixels",
      "hAnchor" : "left",
      "position" : [130, 224]
    },
    "pixel2" : {
      "type" : "label",
      "value" : "pixels",
      "hAnchor" : "left",
      "position" : [130, 200]
    },
    "pixel3" : {
      "type" : "label",
      "value" : "pixels",
      "hAnchor" : "left",
      "position" : [130, 176]
    },
    "pixel4" : {
      "type" : "label",
      "value" : "pixels",
      "hAnchor" : "left",
      "position" : [130, 152]
    },
    "pixel5" : {
      "type" : "label",
      "value" : "pixels",
      "hAnchor" : "left",
      "position" : [130, 128]
    },
    "pixel6" : {
      "type" : "label",
      "value" : "pixels",
      "hAnchor" : "left",
      "position" : [130, 104]
    },
    "pixel7" : {
      "type" : "label",
      "value" : "pixels",
      "hAnchor" : "left",
      "position" : [130, 80]
    },
    "pixel8" : {
      "type" : "label",
      "value" : "pixels",
      "hAnchor" : "left",
      "position" : [130, 56]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [143, 250]
    }
  },
  "scriptWidgetCallbacks" : [ "getPrice"],
  "scripts" : ["/objects/m4_stations/tradingpost/buyerconfig.lua"],
  "scriptDelta" : 1
}
